
@import url("./Satoshi_Complete/Fonts/WEB/css/satoshi.css");


/*start css of full-web-maintain part */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.side-gap{
    width: 95%;
    margin: 0 auto;
}

body{
    font-family: "Satoshi_Complete",sans-serif;
}


/* start of variable */
:root{
    /* color property start */
    --white:#ffffff;
    --white2:#E4E4E7;
    --white3:#FCFCFC;
    --white4:#E4E4E7;
    --black:#18181B;
    --black2:#3F3F46;
    --black3:#26272B;
    --gray:#70707B;
    --gray1:#F4F4F5;
    --gray3:#D1D1D6;
    --gray4:#A0A0AB;
    --gray-dark:#51525C;
    --red:red;
    --green:green;
    --hover-bg-color:rgb(77, 252, 185);
    --hover-color:white;
    /* color property end */
    /* size property  start*/
    --large-size:6.5rem;
    --medium1:4rem;
    --medium2:3.25rem;
    --small:3rem;
    --x-small1:2.5rem;
    --x-small2:2rem;
    --x-small3:1.5rem;
    --x-small4:1.3rem;
    --location-gap:0.5rem;
    --default-size:1rem;
    --font-weight1:100;
    --font-weight2:700;
    /* size property end */
}

a{
    text-decoration: none;
}
/* end of variable */


/* start css of header */
header{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.18rem;
}

.logo-name{
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: var(--x-small3);
    font-weight: var(--font-weight2);
}

.logo-name p{
    padding-left: 0.5rem;
    color: var(--black);
}


 nav{
    display: flex;
    gap: 2rem;
}

header nav a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--gray);
    font-weight:100;
    position: relative;
    transition: color 0.8s ease ;
}

/* start hover and animation */

header nav a:hover span{
    color: var(--hover-bg-color);
}


.rotate{
    animation: rotate 2s linear  infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


nav a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--gray);
    transition: width  0.3s ease-out;
}

nav a:hover::after{
    width: 100%;
}

header .contact-btn button{
    background-color: var(--black);
    color: var(--white);
    border: none;
    padding: 0.625rem 1.125rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease , color 0.3s ease ;
}

.contact-btn button:hover{
    background-color: var(--hover-bg-color);
    color: var(--white);
}

.three-dot{
    display: none;
}


.bar{
    display: none;
}


/* end hover and animation */
/* end css of header */


/* start css of second header part*/
.s-header-text{
    margin-top: 5rem;
}

.sh-text{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.sh-text h1{
    width: 50%;
    font-size: var(--medium2);
    font-weight: var(--font-weight1);
}

.sh-text p{
    width: 50%;
    color: var(--gray);
    line-height: 2;
}


.search{
    border: 2px solid var(--white2);
    display: flex;
    align-items: center;
    gap: 0.4%;
    border-radius: 0.8rem;
    height: 3rem;
    overflow: hidden;
    margin-top: 3rem;
}

.search svg{
    margin-left: 0.6rem;
}

.search input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;  
}



/* start animation part of hero section */

.s-header-text h1{
    position: relative;
    animation: move-left 1s ease-in-out forwards ;
 }
 
 @keyframes move-left{
    from{
         left:-430px;
     }
     to{
         left: 0px;
     }
 }




 .s-header-text p{
    position: relative;
    animation: move-right 1s  ease-in-out forwards ;
 }

 @keyframes move-right{
    from{
         right:-500px;
     }
     to{
         right: 0px;
     }
 }


/* end animation part of hero section */


/* end css of second header part*/



/* start of blog part */


.all-blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
    margin-top: 5rem;
}

.blog1{
    display: flex;
    align-items: center;
    width: 75%;
    height: 100%;
    gap: 3%;
}

.blog1 .img-link{
    width: 45%;
    height: 100%;
    display: flex;
}

.blog1 img{
    width: 100%;
    height: 100%;
}



.blog1 .blog-texts{
    width: 55%;
    height: 100%;
}

.blog-down-text{
    display: flex;
    align-items: center;
}

 span{
    color: var(--gray);
}



 .clock-icon{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 1%;
    color: var(--gray);
}



.blog1 .clock-icon  svg{
    margin-left: 1rem;
}

.blog1 h4{
    font-size: var(--small);
    font-weight: var(--font-weight1);
    color: var(--black1);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.blog1 p{
    color: var(--gray);
    line-height: 2;
}




.right-blog{
    width: 30%;
    height: 100%;
}

.right-blog .right-blog1{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    gap: 3%;
    display: flex;
}

.right-blog1 .right-img{
    width: 30%;
}

.right-blog1 .right-img img{
    width: 100%;
}

.right-blog1 .right-text{
    width: 68%;
}

.right-blog1 .right-text h2{
    align-items: center;
    font-size: var(--x-small4);
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    color: var(--black);
    font-weight: var(--font-weight1);
}

.right-text p{
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* end of blog part */


/* start of article part */

.article-body{
    margin-top: 4rem;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.list-text h2{
    font-weight: var(--font-weight1);
    font-size: var(--medium2);
}

.article-body .list-text p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    line-height: 1.5;
    color: var(--gray);
}

.article{
    width: 32%;
    margin-bottom: 2rem;
}

.article img{
    width: 100%;
}



.article-down-text{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 3%;
}




.clock-icon{
    display: flex;
    align-items: center;
    gap: 1%;
}

.article h4{
    font-size: var(--x-small3);
    font-weight: var(--font-weight1);
}

.article p{
    margin-top:1rem;
    color: var(--gray);
    line-height: 1.5;
    white-space: nowrap;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.view-more{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.learn-more {
    padding: 0.625rem 2.125rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--black);
    color: var(--white);
}

/* end of article part */

/* start of communication part */
.communicate-part {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

.communicate-part::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0, 0, 0);
    z-index: 1;
    opacity: 65%;
}


.contact-text{
    position: absolute;
    left: 3.5rem;
    width: calc(95% - 3.5rem);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4%;
}

.contact-text .text{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contact-text .left-part{
    color: var(--white);
}
.contact-text .left-part h1{
    font-size: var(--small);
    font-weight: var(--font-weight1);
}


.contact-text .left-part p{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: var(--x-small);
    line-height: 2;
}



.view-more{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.learn-more {
    padding: 0.625rem 2.125rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--black);
    color: var(--white);
}

.email-button{
    display: flex;
    width: 60%;
    height: 3.5rem;
    overflow: hidden;
    background-color: var(--white);
    border-radius: 1rem;
}


.email-button .input{
    background-color: var(--white);
    border: none;
    flex-grow:8;
}

.email-button input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 1rem;  
}

.email-button .button{
   display: flex;
   align-items: center;
    flex-grow: 1;
}

.email-button button{
    margin-right: 1rem;
    width: 100%;
    height: auto;
    background-color: rgb(17, 18, 18);
}


.communicate-part  .contact-img{
    overflow: hidden;
    display: flex;
    width:100%;
    height: 100%;
}

.phone-button{
    display: none;
}


.communicate-part img{
    width: auto;
    height:auto;
}


/* start of communication part */




/* start of footer part */

footer{
    background-color: var(--black);
    color: var(--white);
    padding-top: 5rem;
}

.footer-body{
    width: 90%;
    margin: 0 auto;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.information span{
    color: var(--gray4);
}

.left-info{
    width: 60%;
}

.phone-general{
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.office{
    width: 50%;
}

.left-info h3{
    font-size: var(--x-small1);
    font-weight: var(--font-weight1);
}

.address{
    display: flex;
    gap: 3%;
    margin-top: 3rem;line-height: 2;
}

.right-info{
    display: flex;
    justify-content: space-between;
    width:35%;
    gap: 3%;
}


.navigation{
    width: 60%;
}


.all-nav{
    display: flex;
    justify-content: space-between;
}

.all-nav .nav1{
    margin-top: 1rem;
}

.social-link{
    width: 45%;
    display: flex;
    flex-direction: column;
}


.right-info a{
    color: var(--white1);
}

.social-link .slink{
    margin-top: 1rem;
    color: var(--white);
}



.footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}


footer .logo-name p{
    color: var(--white);
}


footer .back-arrow svg {
    margin-left: 0.5rem;
}

.right-info a{
    transition: color 0.3s ease;
}
footer .right-info a:hover{
    color: var(--hover-bg-color);
}


.footer-text .back-arrow a{
    color: var(--white);
}

.footer-text .back-arrow a:hover{
   color: var(--hover-bg-color);
}

/* end of footer part */





    /* start css for Medium devices (tablets) */
    @media only screen and (min-width: 767.99px) and (max-width: 991.98px){



        .side-gap{
            width: 90%;
        }

       /* header start */
       header nav {
        gap: 1rem;
        }

        .hero-text h1 {
            font-size:var(--medium2);
        }
        /* header end */




        /* start of  blog part*/

        .right-blog {
            display:none;
        }

        .blog1 {
            width: 100%;
            height: 100%;
        }

        .blog1 .img-link {
            width: 49%;
            display: flex;
        ;
        }

        .blog1 img {
         width: 100%;
         height: 100%;
        }


        .blog1 h4 {
            font-size: 2.5rem;
            margin-bottom: 0rem;
            margin-top: 0rem;
        }


        .blog1 .blog-texts {
            width: 49%;
            height: 100%;
        }

        /* end of  blog part*/

        /* start of article */
        .article-body .list-text p {
            width: 70%;
        }


        .article{
            width: 49%;
        }


        .article9{
            display: none;
        }


        /* end of article */
      


        /* start of communication part */

        .contact-text .text {
            width: 100%;
        }
        /* end of communication part */


        /* footer part start */
        .address{
            flex-direction: column;
        }

        .address .office{
            width: 100%;
        }


        .social-link {
            display: block;
        }
        /* footer part end */




    }
    /* start css for Medium devices (tablets) */



    /*  start css for mobail */
    @media only screen and (min-width: 0px) and (max-width: 766.98px){


        .side-gap{
        width: 92%;
        margin: 0 auto;
        }   
    

    /* start of header */

    header{
        position: absolute;
        top: 0;
        transform: translate(2.6%, 0%);

    }

    header nav{
        display: none;
    }
    header button{
        display: none;
    }

    header .three-dot{
        display: block;
    }

    /* start of dot bar */
    .bar{
        display: block;
        position: absolute;
        top: 0;
        z-index: -5;
        width: 100%;
        height: 100%;
        padding:2rem;
        visibility: hidden;
        opacity: 0;
        background-color: #ffffff;
        transition: all 0.6s ease-in-out;
    }

    .bar .logo-cross{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #bar:target{
        z-index: 5;
        visibility: visible;
        opacity: 1;
    }

    .bar p{
        color: var(--black);
    }

    .bar a i{
        font-size: 1.3rem;
        color: lightslategrey;
    }
    

    .bar nav{
        margin-top: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar a{
        color: var(--black);
    }

    .bar button{
        background-color: var(--black);
        color: var(--white);
        border: none;
        padding: 0.625rem 1.125rem;
        border-radius: 0.375rem;
    }

    /* start of dot bar */
    /* end of header */

        /* start of second  header */


        .s-header-text {
            margin-top: 8rem;
        }

        .sh-text {
            flex-direction: column;
        }

        .sh-text h1 {
            width: 100%;
        }


        .sh-text p {
            width: 100%;
        }
        /* end of second  header */

        /* start blog part  */


        .blog1 {
            flex-direction: column;
            width: 100%;
        }

        .blog1 .img-link {
            width: 100%;
        }


        .blog1 .blog-texts {
            padding-top: 1rem;
            width: 100%;
        }

        .right-blog {
            display: none;

        }
        /* end blog part  */

        /* start of article */


        .list-text h2 {
            font-size: var(--small);
        }

        .article-body .list-text p {
            width: 100%;
        }


        .article{
            width: 100%;
        }


        .article5,.article6,.article7,.article8,.article9{
            display: none;
        }

        /* end of article */


        /* start of communication part */
        .contact-text {
            left: 0rem;
            width:100%;
        }

        .contact-text .text {
            width: 92%;
        }

        .email-button {
            width: 100%;
            height: 2.5rem;
            border-radius: 0.5rem;
        }

        .email-button .pc-button{
            display: none;
        }

        .phone-button{
            margin-top: 1rem;
            display: block;
            width: 100%;
        }
        .phone-button button{
            display: block;
            width: 100%;
            background-color: rgb(199, 50, 79);
        }
        /* end of communication part */


        /* start of footer */

        .address{
            flex-direction: column;
        }
            
        .phone-general{
            width: 100%;
            justify-content: start;
            gap: 8%;
        }


        .office{
            width: 100%;
        }

        .information {
            flex-direction: column;
        }


        .left-info {
            width: 100%;
        }

        .left-info h3 {
            width: 100%;
        }


        .right-info{
            width: 100%;
            flex-direction: column;
        }

        .navigation{
            width: 100%;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .all-nav{
            justify-content: start;
            gap: 8%;
        }

        .social-link {
            width: 100%;
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 5%;
            flex-wrap:wrap;
        }

        .slink{
            display: inline-block;
            color: var(--white);
        }



        .footer-text {
            flex-direction: column;
        }

        .copyright{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        /* end of footer */

    }    
    /*  end css for mobail */